.msg{
    max-width: 250px;
    height: fit-content;
    background-color: var(--other-msg-bg);
    color: var(--msg-text);
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: flex-start;
    margin: 0 0 4px 4px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;

    .msg-body{
        margin-bottom: 3px;
    }

    .time{
        margin-left: auto;
        font-size: 10px;
    }

    &.sender{
        background-color: var(--secondary-bg);
        margin-left: auto;
        margin-right: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
       border-bottom-left-radius: 0;
       color: var(--other-msg-bg);
       //    color: var(--other-msg-bg);
    }
}

.chats{
    padding: 10px;
    position: relative;
    // border: 3px solid yellow;
    scroll-behavior: smooth;
    overflow-y: auto;
}

.select-chat{
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 50px;
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
}