.message-element{
    position: relative;
    display: flex;
    flex-direction: row;
    // border: 1px solid red;
    width: fit-content;

    &.sender{
        flex-direction: row-reverse;
        margin-left: auto;
        margin-right: 4px;

        .select-box{
            margin: 0px 7px;
        }
    }
}

.msg{
    position: relative;
    max-width: 250px;
    width: fit-content;
    height: fit-content;
    background-color: var(--other-msg-bg);
    color: var(--msg-text);
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: flex-start;
    margin: 0 0 4px 4px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;

    .msg-body{
        margin-bottom: 3px;
        word-wrap: anywhere;
    }

    .time{
        margin-left: auto;
        margin-right: 10px;
        font-size: 10px;
    }

    &.sender{
        background-color: var(--secondary-bg);
        margin-left: auto;
        margin-right: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0;
        color: var(--other-msg-bg);
        position: relative;

        .msg-options{
            transform-origin: top right;
        }

        .msg-options{
            left: unset;
            right: 100%;
        }

        .msg-options-icon{
            .MuiSvgIcon-root{
                fill: rgb(79, 214, 79) !important;
            }
        }

       .MuiSvgIcon-root{
           position: absolute;
           width: 15px;
           height: 15px;
           right: 0;
           bottom: 0;
       }

        &.msg-sent{
            .MuiSvgIcon-root{
                fill: rgb(79, 214, 79);
            }
        }

        &.pending{
            .MuiSvgIcon-root{
                fill: rgb(148, 148, 148);
            }
        }

        &.msg-not-sent{
            .MuiSvgIcon-root{
                fill: rgb(255, 54, 54);
            }
        }
    }

    .msg-options-icon{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: inherit;
        background: rgba(black, 0);
        transition: background 200ms ease-in-out;

        .MuiSvgIcon-root{
            position: absolute;
            right: 2px;
            top: 0;
            opacity: 0;
            transition: opacity 200ms ease-in-out;
            cursor: pointer;
        }
    }

    &:hover{
        .msg-options-icon{
           background: rgba(black, 0.4);

           .MuiSvgIcon-root{
               opacity: 1;
           }
        }
    }

    .msg-options{
        position: absolute;
        background: var(--secondary-bg);
        box-shadow: 1px 1px 5px var(--other-msg-bg);
        padding: 10px 0;
        color: black;
        left: 100%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        transition: transform 200ms ease-in-out;
        transform: scale(0);
        transform-origin: top left;

        &.active{
            transform: scale(1);
        }

        .option{
            border-bottom: 1px solid var(--other-msg-bg);
            padding: 10px 30px;
            cursor: pointer;

            &:hover{
                opacity: 0.7;
            }

            &:last-child{
                border: none;
            }
        }
    }
}

.chats{
    padding: 40px 10px 10px 10px;
    position: relative;
    // border: 3px solid yellow;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;

    .toggle-sidebar{
        position: fixed;
        display: none;
        // display: grid;
        z-index: 99;
        top: 0;
        place-items:  center;
        width: 30px;
        height: 30px;
        opacity: 0.8;
        background-color: var(--other-msg-bg);
        transform: translate(-10px, 60px);
        cursor: pointer;
        transition: transform 200ms ease-in-out;

        .MuiSvgIcon-root{
            fill: white;
            width: 30px;
            height: 30px;
        }

        &.move-left{
            transform: translate(260px, 60px);
        }
    }
}

.select-chat{
    font-size: 20px;
    font-family: monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 50px;
    text-align: center;
    display: grid;
    place-items: center;
    color: white;
}

.date-label{
    font-size: 12px;
    font-family: monospace;
    background-color: var(--secondary-bg);
    padding: 5px 0;
    margin: 5px 0 10px 0; 
}