.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: background 100ms ease-in-out,
                box-shadow 200ms ease-in-out;
    color: #4745B1;

    &:hover{
        box-shadow: 1px 1px 2px var(--other-msg-bg);
    }

    .image{
        position: relative;
        --size: 30px;
        width: var(--size);
        height: var(--size);
        // border: 1px solid black;
        border-radius: 50%;
        background-color: white;
    }

    .name {
        position: relative;
        font-size: 15px;
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        margin-left: 10px;
        text-transform: capitalize;
    }

    &.active{
        background-color: var(--other-msg-bg);
        color: white;
    }

    &.online{
        .image::after{
            position: absolute;
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--bg-color);
            left: 80%;
            transform: translate(-50%, -50%);
        }
    }
}